
body {
    width: 100%;
    height: 100%;
}

.menu-principal {
    width: 100%;
    background-color: rgb(192, 158, 158);
    height: 20px;
       
           
}

main {
    width: 980px;
    
    position: relative;
    margin: 0 auto;
}


.logo img {
    width: 300px;
    padding: 0px;
        
       
}

.texto-menu {

}


.slide {

    max-width: 1080px;
   

}

.slide img {
    width: 1000px;
   align-items: center;

